body
{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    
}
.header
{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
    
}


/* Nav related styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
}

.nav-title
{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
.text-primary
{
    color: #FD6E0A;
}
nav > ul
{
    display: flex;
    align-items: center;
}
nav li
{
    list-style: none;
    margin-right: 50px;
}
nav a
{
    text-decoration: none;
    color: #474747;
}
.btn-primary
{
    border-radius: 5px;
    background: #FD6E0A;
    border: 1px solid #FD6E0A;
    cursor: pointer;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 30px;
    transition: .3s ease;
}
.btn-primary:hover
{
    border: 1px solid #FD6E0A;
    background-color: transparent;
    color: #FD6E0A;
    transition: .3s ease;
}
.btn-transparent
{
    border-radius: 5px;
    margin-left: 10px;
    background: transparent;
    border: 1px solid #FD6E0A;
    cursor: pointer;
    color: #FD6E0A;
    transition: .3s ease;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 30px;
    transition: .3s ease;
}
.btn-transparent:hover
{
    background: #FD6E0A;
    border: 0;
    color: #FFF;
    border: 1px solid #FD6E0A;
    transition: .3s ease;
}
.banner
{
    padding: 30px 30px 0 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner img
{
    height: 500px;
}
.banner-greeting
{
    font-size: 45px;
    margin-bottom: 0;
    color: #474747;
    margin-bottom: 0;
}
.banner-title
{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-content
{
    max-width: 500px;
}
main
{
    width: 75%;
    margin: 0 auto;
}

.about
{
    border-radius: 10px;
    background: #FFF8F3;
    margin: 100px 0px;
    padding: 100px 100px;
    text-align: center;
}

.about h3
{
    color:#181818;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 0;
}
.about p
{
    color:#757575;
    font-size: 18px;
    font-weight: 400;
}
.info
{
    display: flex;
    justify-content: space-between;
}
.info p
{
    color:#757575;
    font-size: 20px;
    font-weight: 400;
}
.info .values
{
    color:#474747;
    font-size: 20px;
    font-weight: 700;
}

.what-i-do 
{
    margin: 100px 0px;
    padding: 0px 100px;
    text-align: center;
}
.what-i-do h3
{
    color:#181818;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 0;
}
.what-i-do p
{
    color:#757575;
    font-size: 18px;
    font-weight: 400;
}
.offers
{
    display: flex;
    text-align: left;
    gap: 24px;
}
.offer
{
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
}
.offers h4
{
    color:#181818;
    font-size: 20px;
    font-weight: 700;
}
.offers p
{
    color:#757575;
    font-size: 16px;
    font-weight: 400;
}
.resume h3
{
    color:#181818;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 0;
    text-align: center;
    margin: 100px;
}
.myresume
{
    display: flex;
    gap:30px;
}
.education h4
{
    color:#474747;
    font-size: 30px;
    font-weight: 700;
}


.description h4
{
    color:#474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0;
}
.edu-description
{
    color:#757575;
    font-size: 16px;
    font-weight: 400;
    margin-top: 5px;
}
.des-title
{
    color:#757575;
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
}
.btn-center
{
    text-align: center;
    margin: 50px 0;
}
footer
{
    background: #FFF8F3;
}
.footer
{
    width: 75%;
    margin: 0 auto;
    display: flex;
    gap: 50px;
    padding: 100px 0;
}
.section
{
    max-width: 500px;
}
.section h4
{
    color:#181818;
    font-size: 35px;
    font-weight: 700;
}
.section img
{
    margin-right: 20px;
}

form input[type='text'], input[type='email'], textarea
{
    display: block;
    margin-bottom: 24px;
    width: 100%;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    border: 0;
}
